@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 0.1px);
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.container {
    background-color: hsl(244, 38%, 16%);
    border-radius: 0.5rem;
    display: flex;
    width: 75rem;
    gap: 1rem;
}

span {
    color: hsl(277, 64%, 61%);
}

.text {
    padding: 5rem 7rem 5rem 5rem;
    width: 80%;
}

.text h1 {
    margin-bottom: 2.2rem;
    font-size: 2.15rem;
}

.mainP {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 5rem;
    line-height: 1.6;
}

.misc {
    display: flex;
    gap: 4rem;
}

.stats p {
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

.image {
    background-image: url(images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100%;
}

.image .color {
    background-color: hsla(277, 75%, 51%, 0.329);
    width: 37.9rem;
    height: 30.1rem;
    border-radius:  0 0.5rem 0.5rem 0;
}

.header-mob {
    display: none;
}

@media (max-width: 1200px) {
    .container {
        width: 69rem;
        gap: 0;
    }

    .text {
        padding: 4rem;
        width: 85%;
    }
}

@media (max-width: 800px) {
    .image {
        background-image: none;
    }

    .color {
        display: none;
    }

    .container {
        flex-direction: column;
        width: 90%;
        height: 95%;
    }

    .header-mob {
        display: block;
        background-image: url(images/image-header-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0.5rem 0.5rem 0 0;
        height: 100%;
    }

    .header-mob .color-mob {
        background-color: hsla(277, 75%, 51%, 0.329);
        width: 100%;
        height: 100%;
        border-radius:  0.5rem 0.5rem 0 0;
    }

    .text {
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 70%;
        padding: 3rem 2.8rem;
    }

    .text h1 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .mainP {
        margin-bottom: 3rem;
    }

    .misc {
        flex-direction: column;
        gap: 2rem;
    }
}